{% load static %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Ket qua Sieu am</title>
    <!-- jquery cdn -->
    <script src="https://code.jquery.com/jquery-3.3.1.min.js" 
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8=" 
        crossorigin="anonymous"></script>
    
    <link rel="stylesheet" href="{% static 'main/nav/css.css' %}">
    <link rel="stylesheet" href="{% static 'main/grid_up/css.css' %}">
    <link rel="stylesheet" href="{% static 'main/grid_down/css.css' %}">
    <style>
        body{
            width: 100vw;
            border: 1px solid rgb(0, 17, 255);
            font-size: 14px;
        }
    </style>
</head>
<body>
<span id="data_BenhNhan" style="display: none;">{{tb_BenhNhan}}</span>
<span id="data_SieuAm" style="display: none;">{{tb_SieuAm}}</span>
    <nav>
        <div class="nav-left">
            <a href="/polls/don_vi" target="_blank">
                <button class="nav-button">
                    <img src="{%static 'main/image/bag.png'%}" alt="bag img" srcset="">
                    <span>Đơn vị Sử dụng</span>
                </button>
            </a>
            
            <a href="" target="_blank">
                <button class="nav-button">
                    <img src="{%static 'main/image/book.png'%}" alt="bag img" srcset="">
                    <span>Mẫu siêu âm</span>
                </button>
            </a>
            
            <a href="/polls/thong_tin_hc" target="_blank">
                <button class="nav-button">
                    <img src="{%static 'main/image/statist.png'%}" alt="bag img" srcset="">
                    <span>Thống kê</span>
                </button>
            </a>
        </div>

        <div class="nav-field">
            <select name="field_date" id="field_date">
                <option value="20231116">Sunday, November 26th 2023</option>
            </select>
            <input type="checkbox" name="so_phieu" id="so_phieu"/>
            <label for="so_phieu">So Phieu</label>
            <input type="text" value=""/>
        </div>
        <div style="clear: both;"></div>
    </nav>
    <form action="">
    
        <div class="grid_up">
            <div class="first">
                <h3>THÔNG TIN HÀNH CHÍNH</h3>
                <div class="group_three_columns">
                    <div class="row_">
                        <div class="first_col">
                            <input type="checkbox" id="IDBN_check" name="IDBN_check" value="X" checked/>
                            <label for="IDBN_check">IDBN</label>
                        </div>
                        <div class="second_col" style="flex-basis: 30%;">
                            <input type="text" id="IDBN" name="IDBN" 
                                    value="{{tb_BenhNhan.0.ID}}" disabled/>
                        </div>
                        <div class="third_col" style="flex-basis: 50%;">
                            <label for="khoa">Khoa</label>
                            <select name="khoa" id="khoa" >
                                <option value="nhi">Nhi</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="group_three_columns">
                    <div class="row_">
                        <div class="first_col">
                            <label for="ho_va_ten_BN">Họ và tên BN:</label>
                        </div>
                        <div class="second_col" style="flex-basis: 80%;">
                            <input type="text" id="ho_va_ten_BN" name="ho_va_ten_BN"
                                    value="{{tb_BenhNhan.0.HoTenBenhNhan}}"/>
                        </div>
                        <div class="third_col" style="display:none">
                            <input type="text" id="DSBN_button" 
                                    name="DSBN_button" value="Danh sách Bệnh nhân" disabled/>
                        </div>
                    </div>
                </div>
                <div class="group_three_columns">
                    <div class="row_">
                        <div class="first_col">
                            <label for="nam_sinh">Năm sinh</label>
                        </div>
                        <div class="second_col" >
                            <input type="date" id="nam_sinh" name="nam_sinh"/>
                        </div>
                        <div class="third_col" >
                            <label for="gioi_tinh">Gioi tinh</label>
                            <select id="gioi_tinh" name="gioi_tinh" >
                                <Option value="nam">Nam</Option>
                                <Option value="nu">Nu</Option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="group_three_columns">
                    <div class="row_">
                        <div class="first_col">
                            <label for="sdt">SĐT</label>
                        </div>
                        <div class="second_col" >
                            <input type="text" id="sdt" name="sdt" value="{{tb_BenhNhan.0.SDT}}"/>
                        </div>
                        <div class="third_col" >
                            <label for="BHYT">BHYT</label>
                            <input type="text" id="BHYT" name="BHYT" value="{{tb_BenhNhan.0.BHYT}}"/>
                        </div>
                    </div>
                </div>
                <div class="group_two_columns">
                    <div class="row_">
                        <div class="first_col">
                            <label for="dia_chi">Địa chỉ</label>
                        </div>
                        <div class="second_col" >
                            <input type="text" name="dia_chi" id="dia_chi" value="{{tb_BenhNhan.0.DiaChi}}"/>
                        </div>
                    </div>
                </div>
                <div class="group_two_columns">
                    <div class="row_">
                        <div class="first_col">
                            <label for="bs_sieu_am">BS Siêu âm</label>
                        </div>
                        <div class="second_col" >
                            <select name="bs_sieu_am" id="bs_sieu_am">
                                <option value="">Chọn bác sĩ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="group_two_columns">
                    <div class="row_">
                        <div class="first_col">
                            <label for="bs_chi_dinh">BS chỉ định</label>
                        </div>
                        <div class="second_col" >
                            <select name="bs_chi_dinh" id="bs_chi_dinh">
                                <option value="">Chọn bác sĩ</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="group_two_columns">
                    <div class="row_">
                        <div class="first_col">
                            <label for="mau_sieu_am">Mẫu Siêu âm</label>
                        </div>
                        <div class="second_col" >
                            <select name="mau_sieu_am" id="mau_sieu_am">
                                <option value="">Chọn mẫu siêu âm</option>
                            </select>
                        </div>
                    </div>
                </div>
                <div class="group_two_columns">
                    <div class="row_">
                        <div class="first_col" style="flex-wrap: wrap; align-content: center;">
                            <label for="chan_doan" style="margin-left: -1em;">Chẩn đoán</label>
                            <button style="color: red; width: 70%;" onclick="refreshForm(event)">(F2) Mới</button>
                            <img src="{%static 'main/grid_up/bieu_tuong_chan_doan.png'%}" 
                                 alt="bieu_tuong_chan_doan" style="flex-basis: 20%;width: 70%;" />
                        </div>
                        <div class="second_col" >
                            <textarea name="chan_doan" id="chan_doan" cols="50" rows="10">
                                {{tb_SieuAm.0.ChanDoan}}
                            </textarea>
                        </div>
                    </div>
                </div>
            </div>
            <div class="second">
                <h3>NỘI DUNG KẾT QUẢ</h3>
                <!-- <object data="{%static 'main/grid_up/Nguyen_Ngoc_Minh_Khoi_CV.pdf'%}" class="pdf"
                        type="application/pdf" width="100%" height="500px">
                    <p>Unable to display PDF file. 
                        <a href="{%static 'main/grid_up/Nguyen_Ngoc_Minh_Khoi_CV.pdf'%}">
                            Download
                        </a> instead.
                    </p>
                </object> -->
                <div class="noi_dung_ket_qua" contenteditable="true">
                    {% if tb_SieuAm.0.NoiDung1 %}
                        {{tb_SieuAm.0.NoiDung1}}
                    {% else %}
                    <ul>
                        <li>Heello</li>
                        <li>world</li>
                        <li>!!!</li>
                    </ul>
                    {% endif %}
                </div>
            </div>
        </div>
    
        <div class="grid_down">
            <div class="first" >
                <button type="button" class="luu_datas" onclick="save_home()">
                    {% if tb_BenhNhan.0.ID %}
                    Cập nhật
                    {% else %}
                    LƯU
                    {% endif %}
                </button>
                <div class="jumbotron" >
                    <div style="text-align: center;">
                        <video id="video" style="text-align: center; border-radius: 20px;"></video>
                    </div>
                </div> 
                <button type="button" onclick="clickPhoto();">Take Photo</button>
            </div>
            <div class="second">
                <div class="flexed_area">
                    <!-- <div class="align_left" >
                        <select name="camera_type" id="camera_type">
                            <option value="HP">HP</option>
                        </select>
                        <button type="button" onclick="clickPhoto();">Take Photo</button>
                        <button>Quay Video</button>
                        <button>Mở lấy hình </button>
                        <button>Ngắt Card</button>
                        <button style="width: 100%;">Cài đặt</button>
                        <div class="base_line">
                            <span style="float:left">
                                <input type="checkbox" name="tu_dong_cat_hinh" id="tu_dong_cat_hinh" />
                                <label for="tu_dong_cat_hinh">Tự động cắt hình</label>
                            </span>
                            <span style="float:right;margin-top:0.35em;">00:00</span>
                            <div style="clear:both;"></div>
                        </div>
                    </div> -->
                    <div class="align_right" style="flex-basis: 99%;">
                        <div class="ket_luan_container">
                            <h3><label for="ket_luan">Kết luận</label></h3>
                            <div class="ket_luan" id="ket_luan" contenteditable="true">
                                {{tb_SieuAm.0.KetLuan}}
                            </div>
                        </div>
                        <div class="de_nghi_container">
                            <h3><label for="de_nghi">Đề nghị</label></h3>
                            <div class="de_nghi" id="de_nghi" contenteditable="true">
                                {{tb_SieuAm.0.DeNghi}}
                            </div>
                        </div>
                        <!-- <div class="base_line">
                            <span style="float:left">
                                <input type="checkbox" name="tai_kham" id="tai_kham" />
                                <label for="tai_kham">Tái khám</label>
                            </span>
                            <span style="float:right;margin-top:0.2em;width:40%; text-align: right;">
                                <span class="date_formatted_display"></span>
                                <input type="datetime-local" name="ngay_tai_kham" id="ngay_tai_kham" 
                                        onchange="displayDateFormat_1()" style="width: 7%;" >
                            </span>
                            <div style="clear:both;"></div>
                        </div> -->
                    </div>
                </div>
                <div class="non_flexed_area" > 
                    <canvas id="myCanvas" height="300"
                            style="text-align: center; border-radius: 20px; height: 100%;"></canvas>
                </div> 
            </div>
        </div>
    </form>
</body>
<script src="{% static 'main/nav/js.js' %}"></script>
<script src="{% static 'sendAjax.js' %}"></script>
<script src="{% static 'main/ajaxBuild.js' %}"></script>
<script src="{% static 'main/init_.js' %}"></script>
<script src="{% static 'main/grid_down/camera.js' %}"></script>
<script>
    function displayDateFormat_1() {
        const dateInput = document.getElementById('ngay_tai_kham');
        const dateValue = dateInput.value;

        const date = new Date(dateValue);
        const dayOfWeek = date.getDay();
        const month = date.getMonth();
        const dayOfMonth = date.getDate();
        const year = date.getFullYear();
    
        const formattedDate = getDayOfWeek(dayOfWeek) + ', ' + getMonthName(month) + ' ' + dayOfMonth + ', ' + year;
        console.log(formattedDate);
        document.querySelector('.date_formatted_display').innerHTML = formattedDate;
    }

    function getDayOfWeek(dayOfWeek) {
        const daysOfWeek = ['Sunday', 'Monday', 'Tuesday', 'Wednesday', 'Thursday', 'Friday', 'Saturday'];
        return daysOfWeek[dayOfWeek];
    }

    function getMonthName(month) {
        const months = ['January', 'February', 'March', 'April', 'May', 'June', 'July', 
                        'August', 'September', 'October', 'November', 'December'];
        return months[month];
    }
</script>
<script>
    $(document).ready(function () {
        let bs_chi_dinh = '{{tb_SieuAm.0.TenBacSiChiDinh}}';
        let bs_sieu_am = '{{tb_SieuAm.0.TenBacSiSieuAm}}';
        let mau_sieu_am = '{{tb_SieuAm.0.MauSieuAm}}';
        load_bacsi_and_mausieuam(bs_chi_dinh,bs_sieu_am,mau_sieu_am);
        let ngaysinh = '{{tb_BenhNhan.0.NamSinh}}';
        populateNgaySinhDatas(ngaysinh);
    });

    
</script>
</html>