
nav {
    background-color: #99B4D1;
    height: 4em;
    padding: 0.75em 0 0 0.75em;
}

nav  .nav-button {
    background-color: #fff;
    border: 0.56em solid #B2B2B2;
    margin-right: 1.5em;
    float: left;
}

nav  .nav-button > img {
    margin: 0;
    height: 2.5em;
    vertical-align: middle;
}
nav .nav-button > span{
    position: relative; 
    top:0.25em
} 

nav .nav-field{
    float: right;
}
nav .nav-field > select,nav .nav-field > input[type=text] {
    height: 2.5em;
}
nav .nav-field > input[type=text]{
    border-left: 0.56em solid #B2B2B2;
    border-right: 0.56em solid #B2B2B2;
}